.Graph {
  min-width: min(50vw, 50vh);
  min-height: min(50vw, 50vh);
}

// .Graph * {
//   text-shadow: none;
// }

.dcg-container {
  border-radius: 0.6rem;
  // background: rgb(235, 235, 235) !important;
}


// .dcg-zoom-container *{
//   box-shadow: none !important;
//   background-color: gray !important;

// }
