* {
  margin: 0;
}

p {
  color: $white;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

mjx-container[jax="CHTML"][display="true"] mjx-math {
  font-size: 3rem;
}

mjx-container[jax="CHTML"] mjx-math {
  font-size: 1.1em;
  color: rgb(219, 182, 114);
}

div p:hover {
  transition: 0.5s;
}

h2 {
  color: $white;
}

body {
  background-color: $dark-background;
}

//all but nav
#root > :not(:first-child) {
  width: 50rem;
  margin-right: auto;
  margin-left: auto;
}

ie {
  opacity: 0.7;
  font-style: italic;
  font-size: 0.9em;
}
hi {
  font-size: 1.3em;
  color: orange;
}
