@charset "UTF-8";
.Card {
  color: #d9d9d9;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.8em;
  background-color: #2f3941;
  border-radius: 10px;
  margin: 1.4em;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  align-self: center;
}
.Card .Card-title {
  font-family: monospace;
}
.Card .Card-header {
  visibility: collapse;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.Card .Card-button {
  cursor: default;
}
.Card .Card-button:hover {
  transform: scale(1.2);
  transition: cubic-bezier(0.175, -0.885, 0.32, 6) 400ms;
}
.Card .Card-content {
  margin: 0 2em;
}

.Card:hover .Card-header {
  visibility: visible;
}

* {
  margin: 0;
}

p {
  color: #d9d9d9;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

mjx-container[jax=CHTML][display=true] mjx-math {
  font-size: 3rem;
}

mjx-container[jax=CHTML] mjx-math {
  font-size: 1.1em;
  color: #e0a942;
}

div p:hover {
  transition: 0.5s;
}

h2 {
  color: #d9d9d9;
}

body {
  background-color: #1b1a18;
  width: 50rem;
  margin: auto;
}

ie {
  opacity: 0.7;
  font-style: italic;
  font-size: 0.9em;
}

hi {
  font-size: 1.3em;
  color: orange;
}

.Graph {
  min-width: min(50vw, 50vh);
  min-height: min(50vw, 50vh);
}

.dcg-container {
  border-radius: 0.6rem;
}

.Chapter {
  margin-top: 3em;
  border-top: 2px solid #d9d9d9;
  text-align: start;
}
.Chapter .Chapter-header {
  color: #d9d9d9;
  font-size: 3em;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  cursor: pointer;
}

.Chapter-header:hover::after {
  content: " #";
  transition: 200ms;
  color: #d9d9d9;
  transform: translateX(20px);
  position: relative;
  left: -0.1em;
}

.Chapter-header::after {
  color: transparent;
  position: relative;
  transition: 200ms;
  top: 0.1em;
  left: -0.75em;
  content: " #";
}

.Chapter-header::before {
  content: "📖";
}

.ScrollText {
  overflow-y: scroll;
  overflow-x: visible;
  height: -webkit-fill-available;
  margin: 2em 0;
}

.Side {
  height: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* width */
.ScrollText::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.ScrollText::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

/* Handle */
.ScrollText::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.25);
  border-radius: 1em;
}

/* Handle on hover */
.ScrollText::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.LineSegment {
  border-top: 0.1em dashed rgba(128, 128, 128, 0.5);
  margin: 2em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 90%;
}
.LineSegment p {
  color: rgba(128, 128, 128, 0.5);
  font-style: italic;
  font-weight: bold;
  font-size: 0.8em;
  position: relative;
  bottom: 0.6em;
  padding: 0 0.5em;
  background-color: #1b1a18;
}/*# sourceMappingURL=index.css.map */